How to count distance to previous zero

In [54]:
import pandas as pd
import numpy as np

In [55]:
df=pd.DataFrame({'X':[7,2,0,3,4,2,5,0,3,4]})

In [56]:
df['Y']=df.index.tolist()

In [57]:
zero_indexes=np.array(df[df['X']==0].index.tolist()).astype(int)

In [58]:
new_dis=np.array(df['Y'])

In [59]:
replaced_dis=[]
for i in new_dis:
    lowest_index=i
    for j in zero_indexes:
        if (i-j)>=0 and (i-j)<=lowest_index:
            lowest_index=i-j         
    replaced_dis.append(lowest_index)
replaced_dis

[0, 1, 0, 1, 2, 3, 4, 0, 1, 2]

In [60]:
df['Y']=replaced_dis

In [61]:
df

   X  Y
0  7  0
1  2  1
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2