2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a
Series of random numbers.

3) Find the sum of the values in s for every Wednesday

4) Average For each calendar month

5) For each group of four consecutive calendar months in s, find the date on which the
highest value occurred.

In [1]:
import pandas as pd
import numpy as np
from datetime import timedelta,date,datetime

In [2]:
def daterange(date1, date2):
    for n in range(int ((date2 - date1).days)+1):
        yield date1 + timedelta(n)

In [96]:
dates=[]
start_dt = date(2015, 1, 1)
end_dt = date(2016, 12, 31)
for dt in daterange(start_dt, end_dt):
    dates.append(dt)

In [97]:
weekdays=[dt for dt in dates if dt.strftime('%a') not in ['Sat','Sun']]

In [98]:
random_data=np.random.randn(len(weekdays))

In [99]:
s=pd.Series(data=random_data,index=pd.DatetimeIndex(weekdays))

In [100]:
s

2015-01-01    0.136741
2015-01-02   -0.859581
2015-01-05   -0.536439
2015-01-06   -0.177826
2015-01-07    0.341618
2015-01-08    0.176079
2015-01-09   -0.811955
2015-01-12    1.319005
2015-01-13   -0.110998
2015-01-14    0.494191
2015-01-15    1.044805
2015-01-16   -1.245486
2015-01-19    0.440157
2015-01-20    1.140638
2015-01-21   -1.965674
2015-01-22   -0.872356
2015-01-23   -0.959914
2015-01-26    1.536859
2015-01-27   -0.871082
2015-01-28    1.218828
2015-01-29    1.492012
2015-01-30    0.560205
2015-02-02   -2.483862
2015-02-03    1.224463
2015-02-04    3.177411
2015-02-05    1.007745
2015-02-06   -0.885062
2015-02-09    1.233049
2015-02-10   -0.493044
2015-02-11    0.624816
                ...
2016-11-21    0.824808
2016-11-22    0.033224
2016-11-23    1.800917
2016-11-24   -0.654585
2016-11-25   -0.606408
2016-11-28   -1.264222
2016-11-29    0.335819
2016-11-30    1.319954
2016-12-01   -0.038268
2016-12-02   -1.090032
2016-12-05   -0.746508
2016-12-06    2.323495
2016-12-07   -1.504789
2016-12-08   -0.760997
2016-12-09    0.101538
2016-12-12    2.450247
2016-12-13   -0.623086
2016-12-14   -0.056434
2016-12-15    0.640279
2016-12-16    0.019324
2016-12-19   -0.545892
2016-12-20   -0.801310
2016-12-21   -2.275305
2016-12-22    1.779855
2016-12-23    1.247136
2016-12-26   -0.207072
2016-12-27    0.665103
2016-12-28   -0.188338
2016-12-29   -0.112009
2016-12-30   -0.534196
Length: 522, dtype: float64

In [101]:
df=pd.DataFrame(s,columns=["Value"])

In [102]:
df["WeekDay"] =df.index.strftime('%A')

In [103]:
print('Sum of value in S for every Wednesday:   ',sum(df[df["WeekDay"]=='Wednesday']['Value']))

('Sum of value in S for every Wednesday:   ', 7.465236832501057)

In [104]:
df["Month"]=df.index.strftime('%B')

In [128]:
df.groupby('Month')[['Value']].mean()

              Value
Month
April      0.030356
August     0.110535
December   0.060048
February   0.006248
January    0.030563
July      -0.184712
June      -0.019795
March      0.063851
May       -0.068629
November  -0.007758
October    0.075769
September -0.159966

In [134]:
df["Month_No"]=df.index.strftime('%m')
df["Month_Group_Keyes"]= df['Month_No'].apply()

               Value    WeekDay     Month Month_No
2015-01-01  0.136741   Thursday   January       01
2015-01-02 -0.859581     Friday   January       01
2015-01-05 -0.536439     Monday   January       01
2015-01-06 -0.177826    Tuesday   January       01
2015-01-07  0.341618  Wednesday   January       01
2015-01-08  0.176079   Thursday   January       01
2015-01-09 -0.811955     Friday   January       01
2015-01-12  1.319005     Monday   January       01
2015-01-13 -0.110998    Tuesday   January       01
2015-01-14  0.494191  Wednesday   January       01
2015-01-15  1.044805   Thursday   January       01
2015-01-16 -1.245486     Friday   January       01
2015-01-19  0.440157     Monday   January       01
2015-01-20  1.140638    Tuesday   January       01
2015-01-21 -1.965674  Wednesday   January       01
2015-01-22 -0.872356   Thursday   January       01
2015-01-23 -0.959914     Friday   January       01
2015-01-26  1.536859     Monday   January       01
2015-01-27 -0.871082    Tuesday   January       01
2015-01-28  1.218828  Wednesday   January       01
2015-01-29  1.492012   Thursday   January       01
2015-01-30  0.560205     Friday   January       01
2015-02-02 -2.483862     Monday  February       02
2015-02-03  1.224463    Tuesday  February       02
2015-02-04  3.177411  Wednesday  February       02
2015-02-05  1.007745   Thursday  February       02
2015-02-06 -0.885062     Friday  February       02
2015-02-09  1.233049     Monday  February       02
2015-02-10 -0.493044    Tuesday  February       02
2015-02-11  0.624816  Wednesday  February       02
...              ...        ...       ...      ...
2016-11-21  0.824808     Monday  November       11
2016-11-22  0.033224    Tuesday  November       11
2016-11-23  1.800917  Wednesday  November       11
2016-11-24 -0.654585   Thursday  November       11
2016-11-25 -0.606408     Friday  November       11
2016-11-28 -1.264222     Monday  November       11
2016-11-29  0.335819    Tuesday  November       11
2016-11-30  1.319954  Wednesday  November       11
2016-12-01 -0.038268   Thursday  December       12
2016-12-02 -1.090032     Friday  December       12
2016-12-05 -0.746508     Monday  December       12
2016-12-06  2.323495    Tuesday  December       12
2016-12-07 -1.504789  Wednesday  December       12
2016-12-08 -0.760997   Thursday  December       12
2016-12-09  0.101538     Friday  December       12
2016-12-12  2.450247     Monday  December       12
2016-12-13 -0.623086    Tuesday  December       12
2016-12-14 -0.056434  Wednesday  December       12
2016-12-15  0.640279   Thursday  December       12
2016-12-16  0.019324     Friday  December       12
2016-12-19 -0.545892     Monday  December       12
2016-12-20 -0.801310    Tuesday  December       12
2016-12-21 -2.275305  Wednesday  December       12
2016-12-22  1.779855   Thursday  December       12
2016-12-23  1.247136     Friday  December       12
2016-12-26 -0.207072     Monday  December       12
2016-12-27  0.665103    Tuesday  December       12
2016-12-28 -0.188338  Wednesday  December       12
2016-12-29 -0.112009   Thursday  December       12
2016-12-30 -0.534196     Friday  December       12

[522 rows x 4 columns]

In [129]:
monthly_grouped_value=df.groupby('Month')[['Value']].max()

In [131]:
monthly_grouped_value

              Value
Month
April      2.704339
August     2.512673
December   2.450247
February   3.177411
January    1.963189
July       2.128223
June       1.864576
March      2.273488
May        2.014171
November   1.800917
October    2.252455
September  1.745058