2) Create a DatetimeIndex that contains each business day of 2015 and use it to index a
Series of random numbers.

3) Find the sum of the values in s for every Wednesday

4) Average For each calendar month

5) For each group of four consecutive calendar months in s, find the date on which the
highest value occurred.

In [1]:
import pandas as pd
import numpy as np
from datetime import timedelta,date,datetime

In [2]:
def daterange(date1, date2):
    for n in range(int ((date2 - date1).days)+1):
        yield date1 + timedelta(n)

In [3]:
dates=[]
start_dt = date(2015, 1, 1)
end_dt = date(2015, 12, 31)
for dt in daterange(start_dt, end_dt):
    dates.append(dt)

In [4]:
weekdays=[dt for dt in dates if dt.strftime('%a') not in ['Sat','Sun']]

In [5]:
random_data=np.random.randn(len(weekdays))

In [6]:
s=pd.Series(data=random_data,index=pd.DatetimeIndex(weekdays))

In [7]:
s

2015-01-01    1.715841
2015-01-02   -0.579849
2015-01-05    0.590411
2015-01-06   -1.301833
2015-01-07   -2.070036
2015-01-08   -0.511443
2015-01-09   -1.040425
2015-01-12    0.817689
2015-01-13   -0.077821
2015-01-14    1.552872
2015-01-15    2.051685
2015-01-16   -0.793781
2015-01-19   -0.655960
2015-01-20    0.926930
2015-01-21    0.401536
2015-01-22   -0.049596
2015-01-23   -0.316957
2015-01-26   -0.423627
2015-01-27   -1.515834
2015-01-28    0.296999
2015-01-29    0.126742
2015-01-30   -0.064751
2015-02-02   -0.093199
2015-02-03    0.347044
2015-02-04    0.249573
2015-02-05   -2.271772
2015-02-06   -0.853800
2015-02-09   -1.309674
2015-02-10   -0.582810
2015-02-11    0.562781
                ...
2015-11-20    0.374924
2015-11-23   -0.909415
2015-11-24    2.519995
2015-11-25    0.275419
2015-11-26   -0.119853
2015-11-27   -1.159886
2015-11-30   -0.082861
2015-12-01   -0.120456
2015-12-02    0.790994
2015-12-03    0.146180
2015-12-04    1.378931
2015-12-07    0.897876
2015-12-08    0.714678
2015-12-09   -0.690624
2015-12-10    0.509130
2015-12-11    0.822401
2015-12-14    0.789596
2015-12-15   -0.530727
2015-12-16   -0.579956
2015-12-17    0.661547
2015-12-18   -0.767825
2015-12-21   -0.965523
2015-12-22    0.474074
2015-12-23    0.497743
2015-12-24   -0.630120
2015-12-25   -1.366335
2015-12-28    1.756341
2015-12-29   -1.475942
2015-12-30   -0.976514
2015-12-31    0.409045
Length: 261, dtype: float64

In [8]:
df=pd.DataFrame(s,columns=["Value"])

In [9]:
df["WeekDay"] =df.index.strftime('%A')

In [10]:
print('Sum of value in S for every Wednesday:   ',sum(df[df["WeekDay"]=='Wednesday']['Value']))

('Sum of value in S for every Wednesday:   ', 8.112919671937004)

In [11]:
df["Month"]=df.index.strftime('%B')

In [12]:
print("Average For each calendar month")
df.groupby('Month')[['Value']].mean()

Average For each calendar month

              Value
Month
April      0.015885
August    -0.244680
December   0.075848
February  -0.389610
January   -0.041873
July      -0.157964
June       0.377711
March     -0.179735
May        0.402021
November  -0.160955
October    0.049984
September  0.256261

In [13]:
print("For each group of four consecutive calendar months in s, find the date on which the highest value occurred")
df.groupby(pd.Grouper(freq='4M'))[["Value"]].max()

For each group of four consecutive calendar months in s, find the date on which the highest value occurred

               Value
2015-01-31  2.051685
2015-05-31  3.804267
2015-09-30  2.203968
2016-01-31  2.519995